@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Play:wght@700&display=swap");
/*modificado 17/02 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%); }

.containerHeader {
  background-color: lightblue;
  font-family: 'Play', sans-serif;
  margin-bottom: 0; }
  .containerHeader section {
    background-image: url("../assets/img/imagen-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px; }
  .containerHeader .gridHeader {
    display: grid;
    grid-template-columns: 10% 50% auto;
    grid-template-rows: 200px 70px; }
  .containerHeader div {
    color: chartreuse;
    position: relative; }
    .containerHeader div .item1 {
      grid-column: 1/2;
      grid-row: 1/3;
      justify-self: center;
      align-self: center; }
      .containerHeader div .item1 .logoHeader {
        width: 100%;
        max-width: 256px;
        border-radius: 50%; }
    .containerHeader div .item2 {
      grid-column: 2/3;
      grid-row: 1/2; }
      .containerHeader div .item2 .tituloIndex {
        font-size: 150px;
        font-weight: bold;
        font-style: oblique;
        text-shadow: 6px 4px 4px black;
        justify-self: center;
        align-self: center;
        margin: 0;
        padding: 0; }
    .containerHeader div .item3 {
      grid-column: 2/3;
      grid-row: 2/3; }
      .containerHeader div .item3 .subtituloIndex {
        font-size: 50px;
        font-style: oblique;
        text-shadow: 3px 1px 1px black;
        justify-self: center;
        align-self: center;
        margin: 0;
        padding: 0; }

.nav-item {
  --bs-nav-link-color:rgb(20, 163, 20);
  font-size: 25px; }

.containerIndex .imagenMain {
  background-image: url("../assets/img/imagen-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%; }

.containerIndex .gridMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10px, 4, 1fr); }
  .containerIndex .gridMain .tituloMain {
    grid-column: 1/6;
    grid-row: 1/2;
    align-self: center; }
    .containerIndex .gridMain .tituloMain p {
      font-size: 50px;
      font-style: oblique;
      color: #c6ec9a;
      text-shadow: 6px 1px 1px black;
      text-align: center;
      text-justify: center;
      font-family: 'Play', sans-serif; }
  .containerIndex .gridMain .texto1Main {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: grid; }
    .containerIndex .gridMain .texto1Main .textoPrincipal {
      margin-left: 2em;
      padding-bottom: 30px;
      font-size: 50px;
      color: aqua; }
    .containerIndex .gridMain .texto1Main .textoPrincipal2 {
      font-size: 35px;
      margin: 5em;
      padding-bottom: 30px;
      color: #00ffd5; }
  .containerIndex .gridMain .imagen1Main {
    grid-column: 3 / 6;
    grid-row: 2 / 4;
    display: grid;
    justify-items: left;
    align-items: center; }
    .containerIndex .gridMain .imagen1Main .imagenTecno {
      border-radius: 10%;
      object-fit: cover;
      width: 90%; }
  .containerIndex .gridMain .texto2Main {
    display: grid;
    grid-column: 3 /6;
    grid-row: 4 /6;
    align-items: center; }
    .containerIndex .gridMain .texto2Main article {
      color: #fafff9;
      font-family: 'Alata', sans-serif;
      font-size: 35px;
      margin: 1rem;
      padding-bottom: 30px;
      background: rgba(128, 136, 133, 0.73); }
    .containerIndex .gridMain .texto2Main .textoHistoria {
      color: white; }
  .containerIndex .gridMain .imagen2Main {
    grid-column: 1 / 3;
    grid-row: 4 /6;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 15px; }
    .containerIndex .gridMain .imagen2Main .imagenVintage {
      object-fit: cover;
      width: 90%;
      border-radius: 10%; }

/*p{
    color: aliceblue;
    font-family: 'Alata', sans-serif;
    margin-bottom: 0;
}*/
/*
.backgroundContacto{
    background-image: url(../assets/img/imagen-atencion-al-cliente.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgba(20, 82, 163, 0.973);
}*/
.containerNosotros .imagenMain {
  background-image: url("../assets/img/imagen-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%; }

.containerNosotros .tituloNosotros p {
  font-size: 50px;
  font-style: oblique;
  color: #c6ec9a;
  text-shadow: 6px 1px 1px black;
  text-align: center;
  text-justify: center;
  font-family: 'Play', sans-serif; }

.containerNosotros article p {
  margin: 2rem;
  padding-bottom: 30px;
  font-size: 40px;
  color: aqua;
  background: rgba(128, 136, 133, 0.73); }

.containerNosotros .div-img {
  display: grid;
  place-content: center;
  object-fit: scale-down; }

.card {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  display: inline-block;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
  /* Agregar box-sizing */ }

.card:hover {
  border-color: #007bff; }

/* Agregar reglas de media query para hacer la tarjeta responsive */
@media (max-width: 768px) {
  .card {
    width: 100%;
    /* Hacer la tarjeta de ancho completo en pantallas pequeñas */
    margin: 10px 0;
    /* Ajustar los márgenes */ } }

.containerContacto {
  font: 18px/1.5 "Open Sans", sans-serif;
  background: var(--bodyColor);
  color: var(--white);
  margin: 0;
  /* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* FORM BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* CUSTOM CHECKBOX
  –––––––––––––––––––––––––––––––––––––––––––––––––– */ }
  .containerContacto .imagenMain {
    background-image: url("../assets/img/imagen-main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; }
  .containerContacto .container {
    max-width: 2560px;
    margin: 0;
    padding: 0;
    /* Remove native arrow on IE */
    /*Remove dotted outline from selected option on Firefox*/
    /*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
    /*We use !important to override the color set for the select on line 99*/ }
    .containerContacto .container * {
      outline: none; }
    .containerContacto .container a {
      color: inherit; }
    .containerContacto .container div {
      font-family: inherit; }
    .containerContacto .container h1 {
      font-size: 50px;
      text-align: center;
      padding: 2rem; }
    .containerContacto .container p {
      font-size: 30px;
      text-align: center;
      padding: 2rem; }
    .containerContacto .container h2 {
      font-size: 40px;
      padding: 2rem; }
    .containerContacto .container input,
    .containerContacto .container select,
    .containerContacto .container textarea,
    .containerContacto .container button {
      font-family: inherit;
      font-size: 100%; }
    .containerContacto .container button,
    .containerContacto .container label {
      cursor: pointer; }
    .containerContacto .container select {
      appearance: none; }
    .containerContacto .container select::-ms-expand {
      display: none; }
    .containerContacto .container select:-moz-focusring {
      color: transparent !important;
      text-shadow: 0 0 0 var(--white); }
    .containerContacto .container textarea {
      resize: none; }
    .containerContacto .container ul {
      list-style: none;
      margin-right: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 0; }
  .containerContacto .my-form h1 {
    margin-bottom: 1.5rem; }
  .containerContacto .my-form li,
  .containerContacto .my-form .grid > *:not(:last-child) {
    margin-bottom: 1.5rem; }
  .containerContacto .my-form select,
  .containerContacto .my-form input,
  .containerContacto .my-form textarea,
  .containerContacto .my-form button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25); }
  .containerContacto .my-form textarea {
    height: 170px; }
  .containerContacto .my-form ::placeholder {
    color: inherit;
    /*Fix opacity issue on Firefox*/
    opacity: 1; }
  .containerContacto .my-form select:focus,
  .containerContacto .my-form input:focus,
  .containerContacto .my-form textarea:focus,
  .containerContacto .my-form button:enabled:hover,
  .containerContacto .my-form button:focus,
  .containerContacto .my-form input[type="checkbox"]:focus + label {
    background: var(--bgFormElsFocus); }
  .containerContacto .my-form select:focus,
  .containerContacto .my-form input:focus,
  .containerContacto .my-form textarea:focus {
    transform: scale(1.02); }
  .containerContacto .my-form *:required,
  .containerContacto .my-form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px; }
  .containerContacto .my-form *:required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg); }
  .containerContacto .my-form select {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg); }
  .containerContacto .my-form *:disabled {
    cursor: default;
    filter: blur(2px); }
  .containerContacto .my-form .required-msg {
    display: none;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg) no-repeat center left/15px 15px;
    padding-left: 20px; }
  .containerContacto .my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s; }
  .containerContacto .my-form button {
    font-weight: bold; }
  .containerContacto .my-form button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out; }
  .containerContacto .my-form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%); }
  .containerContacto .my-form button:enabled:hover .back,
  .containerContacto .my-form button:focus .back {
    transform: translate(-50%, -50%); }
  .containerContacto .my-form button:enabled:hover .front,
  .containerContacto .my-form button:focus .front {
    transform: translateX(110%); }
  .containerContacto .my-form input[type="checkbox"] {
    position: absolute;
    left: -9999px; }
  .containerContacto .my-form input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25); }
  .containerContacto .my-form input[type="checkbox"] + label::before,
  .containerContacto .my-form input[type="checkbox"] + label::after {
    content: '';
    position: absolute; }
  .containerContacto .my-form input[type="checkbox"] + label::before {
    left: 0;
    top: 6px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--white); }
  .containerContacto .my-form input[type="checkbox"]:checked + label::before {
    background: var(--red); }
  .containerContacto .my-form input[type="checkbox"]:checked + label::after {
    left: 7px;
    top: 7px;
    width: 6px;
    height: 14px;
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transform: rotate(45deg); }

.error404 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center; }

.containerFooter section {
  background-image: url("../assets/img/imagen-footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px; }

.containerFooter .gridFooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .containerFooter .gridFooter .ubicacion {
    display: inline;
    height: 250px; }
    .containerFooter .gridFooter .ubicacion .tituloUbicacion {
      font-size: 30px;
      text-align: center;
      color: #14ad21;
      margin: 0;
      padding: 0; }
    .containerFooter .gridFooter .ubicacion .gridMapa {
      display: grid;
      grid-template-columns: 40% 60%;
      height: 200px; }
      .containerFooter .gridFooter .ubicacion .gridMapa .mapa {
        justify-self: center;
        align-self: center;
        object-fit: cover; }
    .containerFooter .gridFooter .ubicacion .direccionUbicacion {
      margin-left: 1rem;
      font-size: 20px;
      color: #14ad21;
      justify-self: left;
      align-self: center; }
  .containerFooter .gridFooter .copyright0 {
    align-self: center;
    justify-self: center;
    font-size: 20px;
    color: #14ad21; }
  .containerFooter .gridFooter .redes {
    display: inline; }
    .containerFooter .gridFooter .redes .tituloRedes {
      font-size: 30px;
      text-align: center;
      color: #14ad21;
      margin: 0;
      padding: 0; }
    .containerFooter .gridFooter .redes .gridRedes {
      display: grid;
      height: 200px;
      margin: 0;
      padding: 0;
      grid-auto-rows: auto;
      justify-items: center;
      align-items: center;
      list-style-type: none;
      font-family: 'Play', sans-serif; }
      .containerFooter .gridFooter .redes .gridRedes li {
        display: inline;
        text-decoration: none;
        color: #14ad21;
        font-size: 18px;
        background: rgba(252, 251, 250, 0.9); }

/*.imagenFooter{
    background-image: url("../assets/img/imagen-footer.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
}



.ubicacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tituloUbicacion{
    font-size: 30px;
    text-align: center;
    color: rgb(20, 173, 33);
    margin: 0;
    padding: 0;
}

.gridMapa{
    display: grid;
    grid-template-columns: 60% 40%;
    .mapa{
        justify-self: center;
        align-self: center;
    }
}

div .direccionUbicacion{
    font-size: 25px;
    color: rgb(20, 173, 33);
    justify-self: left;
    align-self: center;
}

.copyright0{
    display: grid;
    align-items: center;
    justify-items: center;
}

.copyright0{
    font-size: 20px;
    color: rgb(20, 173, 33);
}

.redes{
    ul li{
        list-style-type: none;
    }
}
*/
/*mediaquery*/
@media (max-width: 2560px) {
  /*header*/
  .containerHeader section {
    height: 320px; }
    .containerHeader section div .item2 .tituloIndex {
      font-size: 150px; }
    .containerHeader section div .item3 .subtituloIndex {
      font-size: 50px; }
  /*main*/
  .containerContacto .my-form .grid {
    display: grid;
    grid-gap: 1.5rem; }
  .containerContacto .my-form .grid-2 {
    grid-template-columns: 1fr 1fr; }
  .containerContacto .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center; }
  .containerContacto .my-form .grid > *:not(:last-child) {
    margin-bottom: 0; }
  .containerContacto .my-form .required-msg {
    display: block; }
  /*footer*/
  /*@include direccionUbicacion(1em,9px,left)*/ }

@media (max-width: 1440px) {
  /*header*/
  .containerHeader section {
    height: 220px; }
    .containerHeader section .gridHeader {
      grid-template-columns: 15% 60% auto;
      grid-template-rows: 120px 60px; }
    .containerHeader section div .item1 .logoHeader {
      max-width: 180px; }
    .containerHeader section div .item2 .tituloIndex {
      font-size: 120px; }
    .containerHeader section div .item3 .subtituloIndex {
      font-size: 40px; }
    .containerHeader section .nav-item {
      font-size: 20px; }
  /*main*/
  .containerIndex .gridMain {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10px, 4, 1fr); }
    .containerIndex .gridMain .tituloMain p {
      font-size: 40px; }
    .containerIndex .gridMain .texto1Main {
      grid-column: 1 / 3;
      grid-row: 2 / 4; }
      .containerIndex .gridMain .texto1Main .textoPrincipal {
        margin: 1rem;
        padding-bottom: 30px;
        font-size: 30px;
        color: aqua; }
      .containerIndex .gridMain .texto1Main .textoPrincipal2 {
        font-size: 25px;
        margin: 1rem;
        padding-bottom: 30px;
        color: #00ffd5; }
    .containerIndex .gridMain .imagen1Main {
      grid-column: 3 / 6;
      grid-row: 2 / 4;
      display: grid;
      justify-items: center;
      align-items: center;
      object-fit: cover; }
      .containerIndex .gridMain .imagen1Main .imagenTecno {
        border-radius: 10%;
        object-fit: cover; }
    .containerIndex .gridMain .texto2Main {
      display: grid;
      grid-column: 3 /6;
      grid-row: 4 /6;
      align-items: center; }
      .containerIndex .gridMain .texto2Main article {
        color: #fafff9;
        font-family: 'Alata', sans-serif;
        font-size: 20px;
        margin: 1rem;
        padding-bottom: 30px;
        background: rgba(128, 136, 133, 0.73); }
      .containerIndex .gridMain .texto2Main .textoHistoria {
        color: white; }
    .containerIndex .gridMain .imagen2Main {
      grid-column: 1 / 3;
      grid-row: 4 /6;
      display: grid;
      justify-items: center;
      align-items: center;
      padding-bottom: 15px; }
      .containerIndex .gridMain .imagen2Main .imagenVintage {
        border-radius: 10%; }
  /*footer*/
  .containerFooter .gridFooter {
    grid-template-columns: 50% 20% 30%; }
    .containerFooter .gridFooter .ubicacion .tituloUbicacion {
      font-size: 30px;
      text-align: center;
      color: #14ad21;
      margin: 0;
      padding: 0; }
    .containerFooter .gridFooter .ubicacion .gridMapa .mapa {
      inline-size: 100%;
      /* justify-self: center;
                        align-self: center; */ }
    .containerFooter .gridFooter .ubicacion .direccionUbicacion {
      font-size: 15px;
      justify-self: left; }
    .containerFooter .gridFooter .copyright0 {
      font-size: 15px; } }

@media (max-width: 1024px) {
  /*header*/
  .containerHeader section {
    height: 180px; }
    .containerHeader section .gridHeader {
      grid-template-columns: 20% 60% auto;
      grid-template-rows: 90px 40px; }
    .containerHeader section div .item1 .logoHeader {
      max-width: 120px; }
    .containerHeader section div .item2 .tituloIndex {
      font-size: 90px; }
    .containerHeader section div .item3 .subtituloIndex {
      font-size: 30px; }
  /*main*/
  .containerIndex .gridMain {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10px, 4, 1fr); }
    .containerIndex .gridMain .tituloMain p {
      font-size: 40px; }
    .containerIndex .gridMain .texto1Main {
      grid-column: 1 / 3;
      grid-row: 2 / 4; }
      .containerIndex .gridMain .texto1Main .textoPrincipal {
        margin: 1rem;
        padding-bottom: 30px;
        font-size: 30px;
        color: aqua; }
      .containerIndex .gridMain .texto1Main .textoPrincipal2 {
        font-size: 25px;
        margin: 1rem;
        padding-bottom: 30px;
        color: #00ffd5; }
    .containerIndex .gridMain .imagen1Main {
      grid-column: 3 / 6;
      grid-row: 2 / 4;
      display: grid;
      justify-items: center;
      align-items: center;
      object-fit: cover; }
      .containerIndex .gridMain .imagen1Main .imagenTecno {
        width: 70%;
        border-radius: 10%;
        object-fit: cover; }
    .containerIndex .gridMain .texto2Main {
      display: grid;
      grid-column: 3 /6;
      grid-row: 4 /6;
      align-items: center; }
      .containerIndex .gridMain .texto2Main article {
        color: #fafff9;
        font-family: 'Alata', sans-serif;
        font-size: 20px;
        margin: 1rem;
        padding-bottom: 30px;
        background: rgba(128, 136, 133, 0.73); }
      .containerIndex .gridMain .texto2Main .textoHistoria {
        color: white; }
    .containerIndex .gridMain .imagen2Main {
      grid-column: 1 / 3;
      grid-row: 4 /6;
      display: grid;
      justify-items: center;
      align-items: center;
      padding-bottom: 15px; }
      .containerIndex .gridMain .imagen2Main .imagenVintage {
        border-radius: 10%; }
  /*footer*/
  .containerFooter .gridFooter .ubicacion .tituloUbicacion {
    font-size: 20px; }
  .containerFooter .gridFooter .ubicacion .direccionUbicacion {
    font-size: 13px; }
  .containerFooter .gridFooter .copyright0 {
    font-size: 10px; }
  .containerFooter .gridFooter .redes .tituloRedes {
    font-size: 20px; }
  .containerFooter .gridFooter .redes .gridRedes li {
    font-size: 15px; } }

@media (max-width: 768px) {
  /*header*/
  .containerHeader section {
    height: 170px; }
    .containerHeader section .gridHeader {
      grid-template-columns: 20% 60% auto;
      grid-template-rows: 70px 50px; }
    .containerHeader section div .item1 .logoHeader {
      max-width: 90px; }
    .containerHeader section div .item2 {
      justify-self: left; }
      .containerHeader section div .item2 .tituloIndex {
        font-size: 70px; }
    .containerHeader section div .item3 {
      justify-self: left; }
      .containerHeader section div .item3 .subtituloIndex {
        font-size: 25px; }
  /*    .gridHeader{
        grid-template-columns: 100px 510px auto;
        grid-template-rows: 10px 30px;
    }
    
    .tituloIndex{
        @include header(50px,center,center)
    }

    .subtituloIndex{
        @include header(15px,center,center)
    }

    .item3{
        justify-content: left;
    }
*/
  /*main*/
  .ingreso {
    font-size: 35px; }
  /*footer*/
  .containerFooter .gridFooter .redes .gridRedes li {
    font-size: 15px; } }

@media (max-width: 425px) {
  /*header*/
  .containerHeader section {
    height: 120px; }
    .containerHeader section .gridHeader {
      grid-template-columns: 20% 60% auto;
      grid-template-rows: 40px 20px; }
    .containerHeader section div .item1 .logoHeader {
      max-width: 60px; }
    .containerHeader section div .item2 {
      justify-self: left; }
      .containerHeader section div .item2 .tituloIndex {
        font-size: 40px; }
    .containerHeader section div .item3 {
      justify-self: left; }
      .containerHeader section div .item3 .subtituloIndex {
        font-size: 15px; }
  /*main*/
  .containerContacto .my-form .grid-2 {
    grid-template-columns: 1fr; }
  .containerContacto .my-form .grid-3 {
    grid-template-columns: 1fr; }
  .containerContacto .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%); }
  .containerContacto .my-form input[type="checkbox"]:checked + label::after {
    top: 3px; }
  /*footer*/ }

@media (max-width: 375px) {
  /*header*/
  .containerHeader section {
    height: 120px; }
    .containerHeader section .gridHeader {
      grid-template-columns: 20% 60% auto;
      grid-template-rows: 40px 20px; }
    .containerHeader section div .item1 .logoHeader {
      max-width: 50px; }
    .containerHeader section div .item2 {
      justify-self: left; }
      .containerHeader section div .item2 .tituloIndex {
        font-size: 30px; }
    .containerHeader section div .item3 {
      justify-self: left; }
      .containerHeader section div .item3 .subtituloIndex {
        font-size: 10px; }
  /*main*/
  .ingreso {
    font-size: 35px;
    /*footer*/ } }

@media (max-width: 320px) {
  /*header*/
  /*main*/
  .ingreso {
    font-size: 35px;
    /*footer*/ } }

/* guia de colores
font-family: 'Alata', sans-serif;
font-family: 'Play', sans-serif;*/
/*.navbar{
    list-style-type: none;
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
    li{
        width: 25%;
        
        a{
            text-decoration: none;
            color: rgb(151, 204, 86);
            font-size: 25px;
        }
    }
}*/
/**** FOOTER****/
