@mixin header($fontHeader, $justifyHeader, $alignHeader){
    font-size: $fontHeader;
    justify-self: $justifyHeader;
    align-self: $alignHeader;
}

@mixin flex($justify-flex, $align-flex){
    display: flex;
    justify-content: $justify-flex;
    align-items: $align-flex;
}

@mixin direccionUbicacion($margin, $font, $align){
    margin-left: $margin;
    font-size: $font;
    align-self: $align;
}

