.imagenFooter{
    background-image: url("../assets/img/imagen-footer.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
}

.gridFooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tituloUbicacion{
    text-align: center;
    color: rgb(20, 173, 33);
    font-size: 20px;

}

.gridMapa{
    display: grid;
    grid-template-columns: 60% 40%;
}

.mapa{
    margin-left: 10px;
    justify-items: left;
    align-items: center;
}

.direccionUbicacion{
    margin-left: 2px;
    font-size: 9px;
    align-self: center;
}

.ubicacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}