@media (max-width: 1440px) {

    /*header*/
    .containerHeader {
        section {
            height: 220px;

            .gridHeader {
                grid-template-columns: 15% 60% auto;
                grid-template-rows: 120px 60px;
            }

            div {
                .item1 {
                    .logoHeader {
                        max-width: 180px;
                    }
                }

                .item2 {
                    .tituloIndex {
                        font-size: 120px;
                    }
                }

                .item3 {
                    .subtituloIndex {
                        font-size: 40px;
                    }
                }
            }

            .nav-item {
                font-size: 25px;
            }
        }
    }
    /*main*/
    .containerIndex{
        .gridMain{
            .tituloMain{
                p{
                    font-size: 35px;
                }
            }
            .texto1Main{
                grid-row: 2 / 4;
                .textoPrincipal{
                    margin: 1rem;
                    font-size: 30px;
                }
                .textoPrincipal2{
                    font-size: 25px;
                    margin: 1rem;
                }
            }
            .imagen1Main{
                grid-row: 2 / 4;
                justify-items:center;
                align-items: center;
                object-fit: cover;
            }
            .texto2Main{
                grid-row: 4 /6;
                article{
                    font-size: 20px;
                }
            }
            .imagen2Main{
                grid-row: 4 /6;
            }
        }
    }
    .containerProductos {
        .gridProductos{
          grid-template-columns: repeat(3, 1fr);
        }
    }

    .containerIngresos {
        .gridIngresos{
          grid-template-columns: repeat(3, 1fr);
        }
    }

    .containerNosotros{
        .tituloNosotros{
            p {
                font-size: 40px;
            }
        }    
        article p{
                    font-size: 35px;
        }
        
    }   

 
    /*footer*/
    .containerFooter {
        .gridFooter {
            grid-template-columns: 50% 20% 30%;
            .ubicacion {
                .tituloUbicacion {
                    font-size: 30px;
                    text-align: center;
                    color: rgb(20, 173, 33);
                    margin: 0;
                    padding: 0;
                }

                .gridMapa {
                    .mapa {
                        inline-size: 100%;
                        
                    }
                }

                .direccionUbicacion {
                    font-size: 15px;
                    justify-self: left;
                }
            }
            .copyright0{
                font-size: 15px;
            }

        }
    }
}