@media (max-width: 2560px) {
    /*header*/
    .containerHeader{
        section{
            height: 320px;   
        
            div{
                .item2{
                    .tituloIndex{
                        font-size: 150px;
                    }
                }
                .item3{
                    .subtituloIndex{
                        font-size: 50px;
                    }
                }
            }
        }
    }        
    /*main*/
    .ingreso{
        font-size: 35px;
    /*footer*/
    @include direccionUbicacion(1em,9px,left)

    }
}