@media (max-width: 1024px) {

    /*header*/
    .containerHeader {
        section {
            height: 170px;
            .gridHeader {
                grid-template-columns: 20% 60% auto;
                grid-template-rows: 90px 40px;
            }

            div {
                .item1 {
                    .logoHeader {
                        max-width: 120px;
                    }
                }

                .item2 {
                    .tituloIndex {
                        font-size: 90px;
                    }
                }

                .item3 {
                    .subtituloIndex {
                        font-size: 30px;
                    }
                }
            }
            nav{
                display: flex;
                flex-direction: row-reverse;
                .nav-item{
                    font-size: 20px;
                }
            }
        }
    }

    /*main*/
    .containerIndex{
        .gridMain{
            grid-template-rows: repeat(10px, 4, 1fr);
            .tituloMain{
                p {
                    font-size: 25px;
                }
            }
            .texto1Main{
                .textoPrincipal{
                    font-size: 20px;
                }
                .textoPrincipal2{
                    font-size: 20px;
                }
            }
        }
    }
    
    .containerNosotros{
        .tituloNosotros{
            p {
                font-size: 35px;
            }
        }    
        article p{
                    font-size: 30px;
        }
    }    

    .containerProductos {
        .gridProductos{
          grid-template-columns: repeat(2, 1fr);
        }
    }
    
    /*footer*/
    .containerFooter {
        .gridFooter {
            .ubicacion {
                .tituloUbicacion {
                    font-size: 20px;
                }

                .direccionUbicacion {
                    font-size: 11px;
                }
            }

            .copyright0 {
                font-size: 10px;
            }

            .redes {
                .tituloRedes {
                    font-size: 20px;
                }
                .gridRedes{
                    li {
                        font-size: 15px;
                    }
                }
            }    
        }
    }    
}