@media (max-width: 425px) {
    /*header*/
    .tituloIndex{
        font-size: 30px;
        font-weight:bold;
        font-style: oblique;
        margin-bottom: 0;
        text-shadow: 6px 4px 4px black;
    }
    
    .subtituloIndex{
        font-size: 10px;
        font-style: oblique;
        margin-bottom: 0;
        text-shadow: 3px 1px 1px black;
        align-self: center;
    }
    /*main*/
    .ingreso{
        font-size: 35px;
    /*footer*/
    
    }
}