@media (max-width: 425px) {

    /*header*/
    .containerHeader {
        section {
            height: 120px;

            .gridHeader {
                grid-template-columns: 20% 60% auto;
                grid-template-rows: 40px 20px;
            }

            div {
                .item1 {
                    .logoHeader {
                        max-width: 60px;
                    }
                }

                .item2 {
                    justify-self: left;

                    .tituloIndex {
                        font-size: 35px;
                    }
                }

                .item3 {
                    justify-self: left;

                    .subtituloIndex {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    /*main*/
    .containerNosotros{
        .tituloNosotros{
            p {
                font-size: 20px;
            }
        }    
        article p{
                    font-size: 15px;
        }
    } 
    .containerContacto {
        .my-form .grid-2 {
            grid-template-columns: 1fr;
        }

        .my-form .grid-3 {
            grid-template-columns: 1fr;
        }

        .my-form input[type="checkbox"]+label::before {
            top: 50%;
            transform: translateY(-50%);
        }

        .my-form input[type="checkbox"]:checked+label::after {
            top: 3px;
        }
    }

    /*footer*/
    .containerFooter {
        .gridFooter {
            .ubicacion {
                .tituloUbicacion {
                    font-size: 15px;
                }

                .direccionUbicacion p{
                    font-size: 12px;
                }
            }
            .copyright0 p{
                font-size: 8px;
                align-self: center;
                align-items: center;
                justify-content: center;
            }
            .redes{
                .gridRedes{
                    li{
                        font-size: 10px;
                    }
                }
            }   
        }
    }

}