@media (max-width: 375px) {
    /*header*/
    .containerHeader{
        section{
            height: 135px;   
            .gridHeader{
                grid-template-columns: 20% 60% auto;
                grid-template-rows: 40px 20px;
            }
            div{
                .item1{
                    .logoHeader{
                            max-width: 50px;
                    }
                } 
                .item2{
                    justify-self: left;
                    .tituloIndex{
                        font-size: 30px;
                    }
                }
                .item3{
                    justify-self: left;
                    .subtituloIndex{
                        font-size: 10px;
                    }
                }
            }
            nav{
                .d-flex {
                    .nav-item{
                        height: 15px;
                        font-size: 14px;
                    }
                }
            }
        }
    }  
    /*main*/
    .containerIndex{
        .gridMain{
            .tituloMain{
                p {
                    font-size: 12px;
                }
            }
            .texto1Main{
                .textoPrincipal{
                    font-size: 8px;
                }
                .textoPrincipal2{
                    font-size: 8px;
                }
            }
            .texto2Main{
                article{
                    font-size: 8px;
                }
            }
        }
    }

    .containerNosotros{   
        article p{
                    font-size: 12px;
        }
    } 

    .containerProductos {
        .tituloProductos{
          font-size: 20px;
        }
        .card {
          margin: 5px;
        }
    } 

    .containerIngresos {
        .tituloIngresos{
          font-size: 20px;
        }
        .card {
          margin: 5px;
        }
    } 
    /*footer*/
    
}