@media (max-width: 768px) {
    /*header*/
    .containerHeader{
        section{
            height: 160px;   
            .gridHeader{
                grid-template-columns: 15% 60% auto;
                grid-template-rows: 80px 40px;
            }
            div{
                .item1{
                    .logoHeader{
                            max-width: 120px;
                    }
                } 
                .item2{
                    justify-self: left;
                    .tituloIndex{
                        font-size: 70px;
                    }
                }
                .item3{
                    justify-self: left;
                    .subtituloIndex{
                        font-size: 25px;
                    }
                }
            }
            nav{
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }  

    /*main*/
    .containerIndex{
        .gridMain{
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(10px, 8, 1fr);
            .tituloMain{
                grid-column: 1 / 9;
                p {
                    font-size: 20px;
                }
            }
            .texto1Main{
                grid-column: 1 / 5;
            }
            .imagen1Main{
                grid-column: 4 / 9;
                grid-row: 2 / 4;
                .imagenTecno{
                    width: 70%;
                }
            }
            .texto2Main{
                grid-column: 4 / 9;
                grid-row: 4 /6;
                article{
                    font-size: 15px;
                }
            }
            .imagen2Main{
                grid-column: 1 / 4;
                grid-row: 4 /6;
            }
        }
    }

    .containerProductos {
        .gridProductos{
          grid-template-columns: 1fr;
        }
        .tituloProductos{
            font-size: 30px;
        }    
    }

    .card {
        width: 100%; /* Hacer la tarjeta de ancho completo en pantallas pequeñas */
        margin: 10px 0; /* Ajustar los márgenes */
    }
    .containerContacto .container{
        h1 {
            font-size: 25px;
            margin: 0;
            padding: 1rem;
        }
        p{
            font-size: 15px;
            margin: 0;
            padding: 1rem;
        }
        h2{
           font-size: 20px;
           margin: 0;
           padding: 1rem; 
        }

    }
      
    /*footer*/
    .containerFooter {
        .gridFooter {
            display: flex;
            flex-direction: column;
            .ubicacion {
                display: flex;
                flex-direction: column;
                .tituloUbicacion {
                    font-size: 25px;
                    text-align: center;
                    color: rgb(20, 173, 33);
                    margin: 0;
                    padding: 0;
                }

                .gridMapa {
                    .mapa {
                        inline-size: 100%;
                       /* justify-self: center;
                        align-self: center; */
                    }
                }

                .direccionUbicacion p{
                    font-size: 18px;
                }
            }
            .copyright0 p{
                margin-bottom: 0;
                font-size: 10px;
            }
            .redes{
                .gridRedes{
                    li{
                        font-size: 15px;
                    }
                }
            }   
        }
    }
}